@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?q548u6');
  src:  url('../fonts/icomoon.eot?q548u6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?q548u6') format('truetype'),
    url('../fonts/icomoon.woff?q548u6') format('woff'),
    url('../fonts/icomoon.svg?q548u6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-o:before {
  content: "\f016";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-hand-o-up:before {
  content: "\f0a6";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-circle:before {
  content: "\f111";
}
.icon-dribbble:before {
  content: "\f17d";
}
.icon-search:before {
  content: "\e986";
}
